* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html,
main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
}

.col-33 {
    width: 33%;
}

.col-full-width {
    flex: 1 1 0;
}

.dark-section {
    background-color: #29292b;
    color: #fefeff;
}

.white-section {
    background-color: #ffffff;
    color: #4b4b4b;
}

.primary-color {
    background-color: #ff9d35;
}

.full-height {
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: red;
    display: flex;
    align-items: center;
}

.data-bar {
    color: #f9fdf9;
    width: 80%;
    margin-left: auto;
    height: 100px;
}

.profile-photo-container {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    background-color: #29292b;
    display: flex;
    position: relative;
    left: 25px;
}

.profile-photo {
    margin: auto;
    width: 175px;
    height: 175px;
    max-width: 175px;
    max-height: 175px;
    min-width: 175px;
    min-height: 175px;
    border-radius: 50%;
}
