.details-section {
    background-color: #29292b;
    color: #fefeff;
    padding-top: 210px;
    padding-left: 20px;
    padding-right: 10px;
}

.details-section .title-container {
    background-color: transparent;
    border: 1px solid #ff9d35;
    width: fit-content;
    height: fit-content;
    padding: 7px 12px;
    margin-bottom: 20px;
}

.details-section .title-container h2 {
    letter-spacing: 2px;
}

.contact-list {
    list-style-type: none;
}

.contact-list li {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.contact-list .icon-contact {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(79%) sepia(27%) saturate(3835%) hue-rotate(331deg) brightness(100%)
        contrast(104%);
}
