@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "header.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
html,
main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
}

h1 {
    font-size: 17px;
    letter-spacing: 2px;
}

h2 {
    font-size: 16px;
    letter-spacing: 3px;
}

.col-33 {
    width: 33%;
}

.col-full-width {
    flex: 1 1 0;
}

.dark-section {
    background-color: #29292b;
    color: #fefeff;
}

.white-section {
    background-color: #ffffff;
    color: #4b4b4b;
    padding-top: 250px;
    padding-right: 50px;
}

.primary-color {
    background-color: #ff9d35;
}

.full-height {
    height: 100%;
}

.white-section .title-container {
    width: 100%;
    color: #29292b;
    text-align: right;
    margin-bottom: 30px;
    padding: 5px 65px 5px 0;
}

.experience-ul {
    margin-left: 20px;
}

.experience-ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.date-and-company {
    width: 30%;
    font-weight: bold;
    font-size: 13px;
}

.jobs-details {
    width: 55%;
    text-align: justify;
}

.square-bullet {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    min-width: 15px;
    min-height: 15px;
    background-color: #ff9d35;
    margin-right: 10px;
}

.jobs-details {
    font-size: 12px;
}
